[DEFAULT]
MASTER_CAL_DIR=master_calib
INDATA_PATH=indata/%(UTDATE)s
OUTDATA_PATH=outdata/%(UTDATE)s
PRIMARY_CALIB_PATH=calib/primary/%(UTDATE)s
SECONDARY_CALIB_PATH=calib/secondary/%(UTDATE)s
QA_PATH=%(OUTDATA_PATH)s/qa
HTML_PATH=html/%(UTDATE)s
RECIPE_LOG_PATH=recipe_logs/%(UTDATE)s.recipes


# [EXTRACTION]
# ORDER_START_H=-1
# ORDER_END_H=-1
# # ORDER_START_H=100
# # ORDER_END_H=122

# ORDER_START_K=-1
# ORDER_END_K=-1
# # ORDER_START_K=73
# # ORDER_END_K=93

# HEIGHT_2DSPEC_H = -1
# HEIGHT_2DSPEC_K = -1
