[MASTER_CAL]
GAIN_H=2.0
GAIN_K=2.2

ORDER_START_H=100
ORDER_END_H=122

ORDER_START_K=73
ORDER_END_K=93

REFDATE=20140525

THAR_REFSPEC_JSON=%(REFDATE)s/ThAr/ThAr_SDC%(BAND)s_%(REFDATE)s.oned_spec.json
THAR_IDENTIFIED_LINES_V0_JSON=%(REFDATE)s/ThAr/ThAr_SDC%(BAND)s_%(REFDATE)s.identified_lines_v0.json

SKY_REFSPEC_JSON=%(REFDATE)s/SKY/SKY_SDC%(BAND)s_%(REFDATE)s.oned_spec.json
SKY_IDENTIFIED_LINES_V0_JSON=%(REFDATE)s/SKY/SKY_SDC%(BAND)s_%(REFDATE)s.identified_lines_v0.json

ECHELLOGRAM_JSON=%(REFDATE)s/SDC%(BAND)s_%(REFDATE)s.echellogram.json

TELL_WVLSOL_MODEL=TelluricModel.dat
TELFIT_MODEL=telluric/transmission-795.20-288.30-41.9-45.0-368.50-3.90-1.80-1.40.%(BAND)s.npy

OHLINES_INDICES_JSON=ref_ohlines_indices_%(REFDATE)s.json
OHLINES_JSON=ohlines.dat

HITRAN_BOOTSTRAP_K=hitran_bootstrap_K_%(REFDATE)s.json

VEGA_SPEC=A0V/vegallpr25.50000resam5.npy

DEFAULT_DEADPIX_MASK=deadpix_mask_20140316_%(BAND)s.fits

