[MASTER_CAL]
REFDATE=20140525

THAR_REFSPEC_JSON=%(REFDATE)s/ThAr/ThAr_SDC%(BAND)s_%(REFDATE)s.oned_spec.json
THAR_IDENTIFIED_LINES_V0_JSON=%(REFDATE)s/ThAr/ThAr_SDC%(BAND)s_%(REFDATE)s.identified_lines_v0.json

SKY_REFSPEC_JSON=%(REFDATE)s/SKY/SKY_SDC%(BAND)s_%(REFDATE)s.oned_spec.json
SKY_IDENTIFIED_LINES_V0_JSON=%(REFDATE)s/SKY/SKY_SDC%(BAND)s_%(REFDATE)s.identified_lines_v0.json

ECHELLOGRAM_JSON=%(REFDATE)s/SDC%(BAND)s_%(REFDATE)s.echellogram.json

TELL_WVLSOL_MODEL=TelluricModel.dat
